* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    --sidebar-min-width: 50px;
    --grey-bg-color: rgb(219, 220, 222);
}

body {
    height: 100vh;
    font-family: Roboto, Arial, sans-serif;
}

.grid-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(min-content, 1fr) repeat(10, 1fr);
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
    "sb h h h h h h h h h h h"
    "sb m m m m m m m m m m m";
}

.grid-container * {
    /* border: 2px solid black; */
}

.avatar-small {
    height: 48px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.avatar-medium {
    height: 72px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.sidebar {
    background-color: rgb(53, 156, 240);
    color: white;
    grid-area: sb;
    padding: 10px;
    display: grid;
    justify-content: center;
    align-content: start;
}

.sidebar li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
    list-style-type: none;
    text-transform: capitalize;
    min-height: 30px;
    font-size: larger;
    font-weight: 600;
    padding: 10px;
    transition: scale 100ms ease-out;
}

.sidebar li:hover {
    gap: 16px;
    cursor: pointer;
}

.sidebar li:active {
    scale: 1.1;
}

.sidebar h1 {
    text-transform: capitalize;
    padding: 10px;
    margin-bottom: 20px;
}

.icons {
    height: 16px;
    aspect-ratio: 1/1;
}

.icons img svg path {
    fill: white;
    stroke: white;
}

header {
    grid-area: h;
    padding: 10px 72px 10px 48px;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

header button {
    background-color: rgb(53, 156, 240);
    color: white;
    font-size: medium;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: scale 100ms ease-out;
    transition: translate 200ms ease-in-out;
}

header button:hover {
    translate: 0px -5px;
}

header button:active {
    scale: 1.1;
}

.sub-header-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.sub-header-1 > form {
    flex-grow:1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}

.sub-header-1 input[type="search"] {
    flex-shrink: 1;
    flex-grow: 1;
    max-width: 85%;
    line-height: 1.25em;
    font-size: 1.25em;
    background-color: var(--grey-bg-color);
    border-radius: 35px;
    border: none;
    padding: 4px 12px;

}

.notifications {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.user-name {
    font-size: larger;
    font-weight: 600;    
}

.sub-header-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.greeting {
    display: flex;
    gap: 12px;
}

.social-media-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
}

main {
    grid-area: m;
    padding: 10px;
    background-color: var(--grey-bg-color);
    display: grid;
    grid-template-columns: 2fr 1fr; 
    grid-template-areas: "l r";
    gap: 20px;
}

main h2 {
    margin-top: 24px;
    margin-bottom: 12px;
}

.main-left {
    grid-area: l;
    padding: 20px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    gap: 20px;
}

.project-card {
    background-color: white;
    padding: 32px 24px;
    border-left: 8px solid gold;
    border-radius: 8px;
}

.project-card > h3 {
    text-transform: capitalize;
}

.project-card > p {
    color: rgb(135, 133, 133);
    margin-top: 8px;
}

.project-card > .project-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
    margin-top: 24px;
}

.main-right {
    grid-area: r;
    padding: 20px;
}

.announcements {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    background-color: white;
    padding: 10px;
    border: none;
    border-radius: 15px;
    height: 150px;
}

.trending {
    display: grid;
    grid-template-rows: repeat(4, 1fr);

    background-color: white;
    padding: 10px;
    border: none;
    border-radius: 15px;

    height: 250px;
}

/* 

ROBERT MEYER

*/