* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    --sidebar-min-width: 50px;
    --grey-bg-color: rgb(219, 220, 222);
}

body {
    height: 100vh;
    font-family: Roboto, Arial, sans-serif;
}

.grid-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(min-content, 1fr) repeat(10, 1fr);
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
    "sb h h h h h h h h h h h"
    "sb m m m m m m m m m m m";
}

.grid-container * {
    /* border: 2px solid black; */
}

.avatar-small {
    height: 48px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.avatar-medium {
    height: 72px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.sidebar {
    background-color: rgb(53, 156, 240);
    color: white;
    grid-area: sb;
    padding: 10px;
    display: grid;
    justify-content: center;
    align-content: start;
}

.sidebar li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
    list-style-type: none;
    text-transform: capitalize;
    min-height: 30px;
    font-size: larger;
    font-weight: 600;
    padding: 10px;
    transition: scale 100ms ease-out;
}

.sidebar li:hover {
    gap: 16px;
    cursor: pointer;
}

.sidebar li:active {
    scale: 1.1;
}

.sidebar h1 {
    text-transform: capitalize;
    padding: 10px;
    margin-bottom: 20px;
}

.icons {
    height: 16px;
    aspect-ratio: 1/1;
}

.icons img svg path {
    fill: white;
    stroke: white;
}

header {
    grid-area: h;
    padding: 10px 72px 10px 48px;
    display: grid;
    grid-template-rows: 1fr 2fr;
    box-shadow: 80px 0px 35px 40px rgba(0,0,0,0.9);
}

header button {
    background-color: rgb(53, 156, 240);
    color: white;
    font-size: medium;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: scale 100ms ease-out;
    transition: translate 200ms ease-in-out;
}

header button:hover {
    translate: 0px -5px;
}

header button:active {
    scale: 1.1;
}

.sub-header-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.sub-header-1 > form {
    flex-grow:1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}

.sub-header-1 input[type="search"] {
    flex-shrink: 1;
    flex-grow: 1;
    max-width: 85%;
    line-height: 1.25em;
    font-size: 1.25em;
    background-color: var(--grey-bg-color);
    border-radius: 35px;
    border: none;
    padding: 4px 12px;

}

.notifications {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.user-name {
    font-size: larger;
    font-weight: 600;    
}

.sub-header-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.greeting {
    display: flex;
    gap: 12px;
}

.social-media-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
}

main {
    grid-area: m;
    padding: 10px;
    background-color: var(--grey-bg-color);
    display: grid;
    grid-template-columns: 3fr 1fr; 
    grid-template-areas: "l r";
    gap: 0px;
}

main h2 {
    margin-bottom: 12px;
    margin-block-start: 1em;
}

.main-left {
    grid-area: l;
    padding: 20px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.project-card {
    background-color: white;
    padding: 32px 24px;
    border-left: 8px solid gold;
    border-radius: 8px;
    box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.2);
    transition: all 150ms ease-in-out;
}

.project-card:hover {
    scale: 1.05;
    box-shadow: 2px 3px 10px 0px rgba(0,0,0,0.2);
}

.project-card > h3 {
    text-transform: capitalize;
}

.project-card > p {
    color: rgb(135, 133, 133);
    margin-top: 8px;
}

.project-card > .project-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
    margin-top: 24px;
}


.project-card > .project-actions > img {
    transition: scale 100ms ease-out;
    transition: translate 200ms ease-in-out;
}

.project-card > .project-actions > img:hover {
    scale: 1.5;
    cursor: pointer;
}

.project-card > .project-actions > img:active {
    scale: 1.5;
    translate: 0 -10px;
    cursor: pointer;
}

.main-right {
    grid-area: r;
    padding: 20px;
}

.announcements {
    display: grid;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
    padding: 10px;
    border: none;
    border-radius: 15px;
    box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.2);
}

.announcement {
    background-color: white;
    font-size: smaller;
    padding: 18px 24px;
    border-bottom: 1px solid rgb(135, 133, 133);
    transition: all 150ms ease-in-out;
}

.announcement:last-child {
    border-bottom: none;
}

.announcement > h3 {
    text-transform: capitalize;
    cursor: pointer;
}

.announcement > p {
    color: rgb(135, 133, 133);
    margin-top: 8px;
}

.trending {
    display: grid;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
    padding: 5px;
    border: none;
    border-radius: 15px;
    box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.2);
}

.trending-user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    background-color: white;
    font-size: smaller;
    padding: 4px 24px;
    margin-bottom: 4px;
    border: none;
    transition: all 150ms ease-in-out;
}

.trending-user h3 {
    text-transform: capitalize;
    cursor: pointer;
}

.trending-user p {
    color: rgb(135, 133, 133);
    margin-top: 8px;
}

@media(max-width: 900px) {

    header {
    grid-area: h;
    padding: 1rem 2rem 1rem 1rem;
    display: grid;
    grid-template-rows: 1fr;
    gap: 1rem;
    box-shadow: none;
    }

    .sub-header-1 {
        flex-wrap: wrap;
        gap: 1rem;
    }

    .sub-header-1 > form {
    flex-grow:1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    max-width: clamp(150px, 85%, 33vw);
    }

    .sub-header-1 input[type="search"] {
    flex-shrink: 1;
    flex-grow: 1;
    max-width: 85%;
    line-height: 1.25em;
    font-size: 1.25em;
    background-color: var(--grey-bg-color);
    border-radius: 35px;
    border: none;
    padding: 4px 12px;
    max-width: clamp(150px, 85%, 33vw);
    }

    .greeting {
        display: none;
    }

    .sub-header-2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    }

    header button {
    background-color: rgb(53, 156, 240);
    color: white;
    font-size: small;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: scale 100ms ease-out;
    }

    .social-media-buttons {
        gap: 0.5rem;
    }

    header button:hover {
    
    }

    header button:active {
    scale: 1.1;
    }
    
    main {
    grid-area: m;
    padding: 10px;
    background-color: var(--grey-bg-color);
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-areas:
        "l"
        "r";
    gap: 0px;
    }
    
}


/* 

ROBERT MEYER

*/